.entry {
  @apply w-64 mx-6 cursor-pointer text-center;
  transition: all 0.3s;
  z-index: 2;
}
.entry:hover {
  transform: perspective(1px) scale(1.2);
}

.entry-bg {
  @apply w-24 h-24 mx-auto;
}

.entry-content {
  @apply mt-6;
}

.entry-title {
  @apply text-xl text-gray-900 leading-tight;
}

.entry-description {
  @apply text-base text-gray-600 leading-normal;
}
